# Client-side variables (exposed to browser)
NEXT_PUBLIC_API_BASE_URL=localhost:3000

# Server-side variables (not exposed to browser)
MONGODB_URI=mongodb:://username:password@host:port/dbname?authSource=authdb